body {
	
	background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/IMG_20160507_175022.jpg);
	background-position: center center !important;
	background-attachment: fixed !important;
	background-size:cover !important;
	margin: 0;
	padding: 0;
}

body, html {
	height: 100%;
	min-height: 100%;
    position: relative;
}

.cover {
    height: fit-content;
	width: 100%;
	display: grid;
	float: left;
}

.main {
	transition:all .3s ease-in-out;
}

.main .imageHolder {
	margin: auto;
	height: 410px;
	width: 410px;
}

.main img {
	border-radius: 50%;
	margin: auto;
    display: block;	
	border: 5px solid #fff;
	padding: 10px;
	-webkit-transition:all .5s ease-in-out;
	-moz-transition:all .5s ease-in-out;
	transition:all .5s ease-in-out;
}

.main img:hover {
	height: 275px;
	width: 275px;
	-webkit-transition:all .5s ease-in-out;
	-moz-transition:all .5s ease-in-out;
	transition:all .5s ease-in-out;
}

.main p {
	font-family: Satisfy;
	font-size: 65px;
	color: #fff;
	margin-top: -25px;
	position: relative;
	float: left;
	left: 50%;
	transform: translate(-50%, -35%);
	text-shadow: 2px 2px 6px #000, 2px 2px 5px #000;
	transition:all .3s ease-in-out;
}

.main b {
	font-family: Courgette;
	font-size: 20px;
	font-weight: normal;
	margin-top: -25px;
	color: #fff;
	position: absolute;
	float: left;
	left: 50%;
	transform: translate(-50%, 200%);
	transition:all .3s ease-in-out;
}

.footer {
	background: rgba(0,0,0,0.2);
	bottom: 0;
	height: fit-content;
	width: 100%;
	box-shadow: 0px -10px 10px rgba(0, 0, 0, .2);
	transition:all .3s ease-in-out;
	padding-bottom: 25px;
}

.footer h1 {
	font-family: Dancing Script;
	left: 50%;
	float: left;
	transform: translate(-50%, -50%);
	position: relative;
}

.footer .sign {
	transition:all .3s ease-in-out;
}

.footer .sign .innersign {
	font-size: 25px;
	transform: translate(0, 0);
	left: 0;
	text-align: center;
	transition:all .5s ease-in-out;
	margin-top: -15px;
}

.footer a {
    text-decoration: none;
}

.footer b {
	font-family: Satisfy;
	font-size: 25px;
	color: #fff;
	margin-left: 20px;
	margin-right: 20px;
	transition:all .3s ease-in-out;
}

.footer p {
	font-family: Cookie;
	font-size: 45px;
	color: #fff;
	left: 0;
	text-align: center;
	transition:all .3s ease-in-out;
}

.footer .sign .innersign i {
	color: #fff;
	padding: 5px;
	transition:all .3s ease-in-out;
}

.footer .sign .innersign i:hover {
	color: #56aaff;
	padding: 5px;
	transition:all .3s ease-in-out;
}

.footer .sign .innersign i:hover a {
	color: #56aaff;
	padding: 5px;
	transition:all .3s ease-in-out;
}

.footer .sign .innersign a {
	font-family: Cookie; 
	font-size: 30px;
	font-weight: normal;
	color: #fff;
	padding: 5px;
	transition:all .3s ease-in-out;
}

.footer i a p b {
	transition:all .3s ease-in-out;
}

.footer .sign .innersign .ata a:hover {
	color: #56aaff;
	transition:all .3s ease-in-out;
}

@media(max-width:500px) {
	.main p {
		margin-top: -50px;
		font-size: 50px;
		transition:all .3s ease-in-out;
	}
	
	.main b {
		margin-top: -70px;
		transition:all .3s ease-in-out;
	}
	
	.main img {
		height: 200px;
		width: 200px;
		border-radius: 50%;
		margin: auto;
		display: block;	
		border: 5px solid #fff;
		padding: 10px;
		-webkit-transition:all .5s ease-in-out;
		-moz-transition:all .5s ease-in-out;
		transition:all .5s ease-in-out;
	}
	
	.main img:hover {
		height: 250px;
		width: 250px;
		-webkit-transition:all .5s ease-in-out;
		-moz-transition:all .5s ease-in-out;
		transition:all .5s ease-in-out;
	}
	
	.footer {
		height: fit-content;
		transition:all .3s ease-in-out;
	}
	
	.footer p {
		font-size: 35px;
	}
	
	.footer .sign .innersign a {
		font-size: 20px;
	}
	
	.footer .sign .innersign i {
		font-size: 20px;
	}
}

@media(max-width:500px) {
	.main p {
		font-size: 40px;
		transition:all .3s ease-in-out;
	}
}

@media(min-height:565px) {
	.main p, b {
		transition:all .3s ease-in-out;
	}
}

@media(min-